{% extends 'header.html'%}
{% block content%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
</head>
<body>

<center>
<h1>Forgot Password</h1>
{% if msg %}
 <b style="color:blue;">{{msg}}</b>
 {% endif %}
<form name="signup" method="post" action="{% url 'forgot-password' %}">
	{% csrf_token %}
	<table>
		
		<tr>
			<td>email</td>
			<td><input type="text" name="email" >
				<td><span id="email"></span></td>
		</tr>
		
		<tr><td>
			<input type="submit" value="send OTP" class="btn btn-primary">
			</td>
			
		</tr>
	</table>
	
	
</form></center>
</body>
</html>
{% endblock %}