{% extends 'header.html'%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	 
</head>
<body>

<h1>welcome to contact</h1>
<center>
<form>
	<table>
		<tr>
			<td>name</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>email</td>
			<td><input type="text" name="email">
		</tr>
		<tr>
			<td>mobile</td>
			<td><input type="text" name="mobile">
		</tr>
	
		<tr>
			<td>remarks</td>
			<td><textarea rows="5" cols="21" name="remarks"></textarea>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="SUBMIT" class="btn btn-primary">
			</td>
		</tr>
	</table>
	
	
</form></center>
</body>
</html>
{% endblock %}